/*body {
	background-color: #eee;
}

.hero {
	margin-top: 0;
	padding-top: 0;
	background-image: url('solar1.jpg');
	background-size: cover;
	height: 200px;
	color: white;
}

nav {
	margin-bottom: 0;
	height: 50px;
	padding: 2px;	
}

nav li {
	display: inline-block;
	text-align: right;
}

main {
	padding-top: 30px;
	text-align: center;
	color: green;
	width: 760px;
}*/

